In [15]:
#List  Mutable

courses=['History','Maths','Science','Computer Science']
print(courses)
print(len(courses))
print(courses[1])
print(courses[-1])
print(courses[0:2])
print(courses[:2])
print(courses[2:])

['History', 'Maths', 1, 'Computer Science']
4
Maths
Computer Science
['History', 'Maths']
['History', 'Maths']
[1, 'Computer Science']

In [7]:
courses.append('Art')
print(courses)

['History', 'Maths', 'Science', 'Computer Science', 'Art']

In [13]:
courses.insert(0,'Art')
print(courses)

['Art', 'Art', 'Art', 'Art', 'History', 'Maths', 'Science', 'Computer Science', 'Art']

In [19]:
courses2=['Geo','Commerce']
courses.insert(0,courses2)
print(courses)
print(courses[0])

[['Geo', 'Commerce'], ['Geo', 'Commerce'], ['Geo', 'Commerce'], 'Art', 'Art', 'Art', 'History', 'Maths', 'Science', 'Computer Science', 'Art']
['Geo', 'Commerce']

In [21]:
courses3=['History','Maths','Science','Computer Science']
courses2=['Geo','Commerce']
courses3.extend(courses2)
print(courses3)

['History', 'Maths', 'Science', 'Computer Science', 'Geo', 'Commerce']

In [22]:
courses3=['History','Maths','Science','Computer Science']
courses2=['Geo','Commerce']
courses3.append(courses2)
print(courses3)

['History', 'Maths', 'Science', 'Computer Science', ['Geo', 'Commerce']]

In [23]:
courses3=['History','Maths','Science','Computer Science']
courses3.remove('Maths')
print(courses3)

['History', 'Science', 'Computer Science']

In [2]:
courses3=['History','Maths','Science','Computer Science']
popped=courses3.pop()
print(popped)
print(courses3)

Computer Science
['History', 'Maths', 'Science']

In [25]:
courses3=['History','Maths','Science','Computer Science']
courses3.reverse()
print(courses3)

['Computer Science', 'Science', 'Maths', 'History']

In [27]:
courses3=['History','Maths','Science','Computer Science']
courses3.sort()
print(courses3)
courses3.sort(reverse=True)
print(courses3)

['Computer Science', 'History', 'Maths', 'Science']
['Science', 'Maths', 'History', 'Computer Science']

In [29]:
courses3=['History','Maths','Science','Computer Science']
sorted_courses=sorted(courses3)
print(courses3)
print(sorted_courses)

['History', 'Maths', 'Science', 'Computer Science']
['Computer Science', 'History', 'Maths', 'Science']

In [32]:
num=[1,2,3,4,5]
print(min(num))
print(max(num))
print(sum(num))

1
5
15

In [34]:
courses3=['History','Maths','Science','Computer Science']
print(courses3.index('Maths'))
print('Maths' in courses3)

1
True

In [35]:
courses3=['History','Maths','Science','Computer Science']
for index,course in enumerate(courses3):
    print(index,course)

0 History
1 Maths
2 Science
3 Computer Science

In [36]:
courses3=['History','Maths','Science','Computer Science']
for index,course in enumerate(courses3,start=1):
    print(index,course)

1 History
2 Maths
3 Science
4 Computer Science

In [39]:
courses3=['History','Maths','Science','Computer Science']
course_str=' - '.join(courses3)
print(course_str)

History - Maths - Science - Computer Science

In [40]:
new_list=course_str.split(' - ')
print(new_list)

['History', 'Maths', 'Science', 'Computer Science']

In [11]:
#Tuples   They are immutable
tuple_1=('History','Maths','Science','Computer Science')
tuple_2=tuple_1
print(tuple_1)
print(tuple_2)
#The below will throw error as tuple is immutable
# tuple_1[0]='Art'
# print(tuple_1)
# print(tuple_2)

('History', 'Maths', 'Science', 'Computer Science')
('History', 'Maths', 'Science', 'Computer Science')

In [13]:
#Sets  unordered and doesnt allow duplicate

cs_courses={'History','Maths','Science','Computer Science'}

print(cs_courses)

{'Science', 'History', 'Maths', 'Computer Science'}

In [45]:
cs_courses={'History','Maths','Science','Computer Science','History'}
print(cs_courses)
print('Maths' in cs_courses)   #Sets are optimized for this search operation compared to List and Tuples

{'Maths', 'Science', 'Computer Science', 'History'}
True

In [14]:
cs_courses={'History','Maths','Science','Computer Science'}
ar_courses={'History','Maths','Art','Design'}
print(cs_courses.intersection(ar_courses))
print(cs_courses.difference(ar_courses))
print(cs_courses.union(ar_courses))

{'History', 'Maths'}
{'Science', 'Computer Science'}
{'History', 'Computer Science', 'Maths', 'Design', 'Art', 'Science'}

In [51]:
#Empty List
empty_list=[]
empty_list=list()

#Empty Tuples
empty_tuple=()
empty_tuple=tuple()

#Empty Sets
empty_set={}  #This isnt right .Its a dict
empty_set=set()

In [52]:
#Dictionary
student={'name':'Nitin','age':31,'courses':['Maths','Science']}
print(student)

{'name': 'Nitin', 'age': 31, 'courses': ['Maths', 'Science']}

In [57]:
print(student['name'])
print(student.get('age'))
print(student.get('phone'))
print(student.get('phone','Not Found'))

Nitin
31
None
Not Found

In [58]:
student['phone']='555-555'
print(student.get('phone','Not Found'))

555-555

In [59]:
student['name']='Nikita'
print(student)

{'name': 'Nikita', 'age': 31, 'courses': ['Maths', 'Science'], 'phone': '555-555'}

In [60]:
student.update({'name':'Vicky','age':27})
print(student)

{'name': 'Vicky', 'age': 27, 'courses': ['Maths', 'Science'], 'phone': '555-555'}

In [61]:
del student['phone']

In [62]:
print(student)

{'name': 'Vicky', 'age': 27, 'courses': ['Maths', 'Science']}

In [63]:
age=student.pop('age')
print(student)
print(age)

{'name': 'Vicky', 'courses': ['Maths', 'Science']}
27

In [19]:
student={'name':'Nitin','age':31,'courses':['Maths','Science']}
print(len(student))
print(student.keys())
print(student.values())
print(student.items())

3
dict_keys(['name', 'age', 'courses'])
dict_values(['Nitin', 31, ['Maths', 'Science']])
dict_items([('name', 'Nitin'), ('age', 31), ('courses', ['Maths', 'Science'])])

In [20]:
for key in student:
    print(key)

name
age
courses

In [21]:
for key,value in student.items():
    print(key,value)

name Nitin
age 31
courses ['Maths', 'Science']